blah.bakcup/blah/Service References/caseService/CaseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dc1amapp105.ct.gov/eRegulationsIntegrationServices/Services/CaseService/CaseService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="initializeCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initializeCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initializeCaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConfigurationPropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOPMApprovalNeeded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOPMApprovalNeededResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsOPMApprovalNeededResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOTGApprovalNeeded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOTGApprovalNeededResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsOTGApprovalNeededResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCommentPeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndCommentPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndCommentPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndCommentPeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAggregateCommentDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAggregateCommentDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAggregateCommentDocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublishCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailToSubscribers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailToSubscribersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailToSubscribersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailInternal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailInternalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailInternalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSecurityForAgency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSecurityForAgencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSecurityForAgencyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSecurityForEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntityAcronym" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSecurityForEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSecurityForEntityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDocumentSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agencyDisplayName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="documentIDs" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDocumentSecurityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDocumentSecurityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegulationProgressStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegulationProgressStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegulationProgressStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRMR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RMRDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRMRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRMRResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoPostActionWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StepName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WorkClassName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoPostActionWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoPostActionWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createTemplatesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSubjectMatterAndSections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSubjectMatterAndSectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSubjectMatterAndSectionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exceptionTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="exceptionTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestDocumentToCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackingNumer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentClass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestDocumentToCaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockCommentPeriodAutomatic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wobnumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentPeriodEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockCommentPeriodAutomaticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnlockCommentPeriodAutomaticResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoPostActionThingsForSotsPub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoPostActionThingsForSotsPubResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostActionSkip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackingNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="step" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workclass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostActionSkipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPostActionSkipResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePostActionSkipFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePostActionSkipFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePostActionSkipFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkipsFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkipsFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSkipsFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>