blah/blah/eRegSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/">
  <xs:simpleType name ="allSimpleTypes">
    <xs:restriction base ="xs:string"/>
  </xs:simpleType>

  <xs:element name="topic" type="topicType"/>

  <xs:complexType name="topicType">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="shortdesc" type="shortdescType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="prolog" type="prologType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="body" type="bodyType" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="titleType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="i" type="iType"/>
        <xs:element name="b" type="bType"/>
        <xs:element name="sup" type="supType"/>
        <xs:element name="sub" type="subType"/>
        <xs:element name="u" type="uType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="shortdescType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="i" type="iType"/>
        <xs:element name="sub" type="subType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="prologType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="metadata" type="metadataType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="othermeta" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bodyType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="p" type="pType"/>
        <xs:element name="ol" type="olType"/>
        <xs:element name="table" type="tableType"/>
        <xs:element name="fig" type="figType"/>
        <xs:element name="image" type="allSimpleTypes"/>
        <xs:element name="ul" type="ulType"/>
        <xs:element name="note" type="noteType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="i" type="iType"/>
        <xs:element name="b" type="bType"/>
        <xs:element name="foreign" type="foreignType"/>
        <xs:element name="sup" type="supType"/>
        <xs:element name="u" type="uType"/>
        <xs:element name="image" type="allSimpleTypes"/>
        <xs:element name="xref" type="allSimpleTypes"/>
        <xs:element name="sub" type="subType"/>
        <xs:element name="tn" type="allSimpleTypes"/>
        <xs:element name="fn" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="olType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="li" type="liType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="liType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="ol" type="olType"/>
        <xs:element name="b" type="bType"/>
        <xs:element name="p" type="pType"/>
        <xs:element name="i" type="iType"/>
        <xs:element name="sup" type="supType"/>
        <xs:element name="table" type="tableType"/>
        <xs:element name="u" type="uType"/>
        <xs:element name="fn" type="allSimpleTypes"/>
        <xs:element name="fig" type="figType"/>
        <xs:element name="sub" type="subType"/>
        <xs:element name="ul" type="ulType"/>
        <xs:element name="foreign" type="foreignType"/>
        <xs:element name="xref" type="allSimpleTypes"/>
        <xs:element name="image" type="allSimpleTypes"/>
        <xs:element name="note" type="noteType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="i" type="iType"/>
        <xs:element name="u" type="uType"/>
        <xs:element name="sub" type="subType"/>
        <xs:element name="sup" type="supType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="iType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="u" type="uType"/>
        <xs:element name="b" type="bType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tableType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="tgroup" type="tgroupType"/>
        <xs:element name="title" type="titleType"/>
        <xs:element name="desc" type="descType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tgroupType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="colspec" type="allSimpleTypes"/>
        <xs:element name="tbody" type="tbodyType"/>
        <xs:element name="thead" type="theadType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tbodyType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="row" type="rowType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="entry" type="entryType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entryType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="p" type="pType"/>
        <xs:element name="foreign" type="foreignType"/>
        <xs:element name="image" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="foreignType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="OLEObject" type="allSimpleTypes"/>
        <xs:element name="OLEImage" type="allSimpleTypes"/>
        <xs:element name="mathML" type="mathMLType"/>
        <xs:element name="image" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mathMLType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="math" type="mathType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mathType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="semantics" type="semanticsType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="semanticsType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mrow" type="mrowType"/>
        <xs:element name="annotation" type="allSimpleTypes"/>
        <xs:element name="mtable" type="mtableType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mrowType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mtable" type="mtableType"/>
        <xs:element name="mfrac" type="mfracType"/>
        <xs:element name="mtext" type="allSimpleTypes"/>
        <xs:element name="mo" type="allSimpleTypes"/>
        <xs:element name="mrow" type="mrowType"/>
        <xs:element name="mi" type="allSimpleTypes"/>
        <xs:element name="mn" type="allSimpleTypes"/>
        <xs:element name="msub" type="msubType"/>
        <xs:element name="msup" type="msupType"/>
        <xs:element name="mstyle" type="mstyleType"/>
        <xs:element name="munderover" type="munderoverType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mtableType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mtr" type="mtrType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mtrType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mtd" type="mtdType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mtdType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mrow" type="mrowType"/>
        <xs:element name="mtext" type="allSimpleTypes"/>
        <xs:element name="mfrac" type="mfracType"/>
        <xs:element name="mo" type="allSimpleTypes"/>
        <xs:element name="mi" type="allSimpleTypes"/>
        <xs:element name="mn" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mfracType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mrow" type="mrowType"/>
        <xs:element name="mtext" type="allSimpleTypes"/>
        <xs:element name="mn" type="allSimpleTypes"/>
        <xs:element name="mi" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="i" type="iType"/>
        <xs:element name="b" type="bType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="uType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="i" type="iType"/>
        <xs:element name="b" type="bType"/>
        <xs:element name="sup" type="supType"/>
        <xs:element name="sub" type="subType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="figType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="image" type="allSimpleTypes"/>
        <xs:element name="title" type="titleType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="b" type="bType"/>
        <xs:element name="i" type="iType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ulType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="li" type="liType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="theadType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="row" type="rowType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="descType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="b" type="bType"/>
        <xs:element name="sup" type="supType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="msubType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mrow" type="mrowType"/>
        <xs:element name="mtext" type="allSimpleTypes"/>
        <xs:element name="mn" type="allSimpleTypes"/>
        <xs:element name="mi" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="msupType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mrow" type="mrowType"/>
        <xs:element name="mtext" type="allSimpleTypes"/>
        <xs:element name="mn" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mstyleType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mo" type="allSimpleTypes"/>
        <xs:element name="mrow" type="mrowType"/>
        <xs:element name="munderover" type="munderoverType"/>
        <xs:element name="mi" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="munderoverType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="mo" type="allSimpleTypes"/>
        <xs:element name="mrow" type="mrowType"/>
        <xs:element name="mtext" type="allSimpleTypes"/>
        <xs:element name="mstyle" type="mstyleType"/>
        <xs:element name="mi" type="allSimpleTypes"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="u" type="uType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

